---

---

<footer
  class="w-full p-4 border-y border-gray-200 dark:border-neutral-700 text-[11px] font-mono text-neutral-500 tracking-wide"
>
  <div class="space-y-4">
    <p class="text-neutral-500">
      Built by
      <a
        href="https://momito.co.uk/"
        target="_blank"
        class="dark:text-neutral-300 dark:hover:text-white transition-colors underline-offset-3 underline"
      >
        Mohamed Hassan.
      </a>
    </p>

    <div
      class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2"
    >
      <p>
        Found something unclear?
        <a
          href="https://x.com/momito"
          target="_blank"
          class="dark:text-neutral-300 dark:hover:text-white transition-colors underline-offset-3 underline"
        >
          I’d love feedback.
        </a>
      </p>
    </div>
  </div>
</footer>
