---
import { cn } from "../../lib/utils";

interface Props {
  class?: string;
  href: string;
  variant?: "default" | "secondary";
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const { class: className, href, variant, target } = Astro.props;

const variantClasses = {
  default:
    "border bg-neutral-950 dark:bg-white/80 text-white dark:text-black border-neutral-950 dark:border-white",
  outline:
    "border border-neutral-200 dark:border-neutral-800 hover:bg-neutral-50 dark:hover:bg-neutral-900 text-black dark:text-white",
  secondary:
    "bg-neutral-50 hover:bg-neutral-100 dark:bg-neutral-900 hover:bg-neutral-50 dark:hover:bg-neutral-950 text-black dark:text-white border border-neutral-200 dark:border-neutral-800",
};

const variantClass = variantClasses[variant || "default"];
---

<a
  href={href}
  class={cn(
    variantClass,
    "block uppercase px-4 py-3 w-full text-xs font-mono tracking-wider hover:opacity-90 transition-all cursor-pointer text-center hover:scale-102 active:scale-102",
    className
  )}
  target={target}
>
  <slot />
</a>
